<html>
  <head>
    <title>Story Time | Choose Your Path</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/screen.css" rel="stylesheet">
    <script src="static/jquery-1.7.2.js"></script>
    <!--<script src="static/jquery.lazyload.js"></script>-->
    <script src="static/jquery.scrollto.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript">-->
    <!--  var _gaq = _gaq || [];-->
    <!--  _gaq.push(['_setAccount', 'UA-32949975-1']);-->
    <!--  _gaq.push(['_trackPageview']);-->
    <!--  (function() {-->
    <!--    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
    <!--  })();-->
    <!--</script>-->
  </head>
  <body id="choose_your_path">
    <div class="span6 offset3">
      <h1>Choose your path.</h1>
      <hr />
    </div>
    <div class="span6 offset3">
      <ul>
      {% for story in stories %}
      <li class="story">{{story.title}}</li>
      {% endfor %}
      </ul>
    </div>

    PICK A STORY {{user.name}}

    <div id="footer" class="span10 offset1" style="color: #CCC; text-align: right;">
      <p style="padding-right: 10px;">project by <a href="http://term.ie/blog/lasting-statement">termie</a>
    </div>
  </body>
</html>
