<html>
  <head>
    <title>Story Time</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/screen.css" rel="stylesheet">
    <script src="static/jquery-1.7.2.js"></script>
    <script src="static/jquery.color.js"></script>
    <!--<script src="static/jquery.lazyload.js"></script>-->
    <!--<script src="static/jquery.scrollto.js"></script>-->
    <script src="bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript">-->
    <!--  var _gaq = _gaq || [];-->
    <!--  _gaq.push(['_setAccount', 'UA-32949975-1']);-->
    <!--  _gaq.push(['_trackPageview']);-->
    <!--  (function() {-->
    <!--    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
    <!--  })();-->
    <!--</script>-->
  </head>
  <body>
    <div id="viewport">
      <div id="world">
      </div>
    </div>
    <div id="intro">
      <p class="statement">
        Welcome, weary traveler.<br />
        Come rest a while.
      </p>
      <p class="statement">
        It's a good night for a story.<br />
        The air is as it was then, the mood. <br />
        And people were gathered much as they are now.
      </p>
      <p class="statement">
        Join us, and be an actor in the telling of tonight.
      </p>
      <p class="statement">
        <a href="/twitter/login" class="twitter_login">
          Lend us your Twitter, lend us your soul.
        </a>
      </p>
      <p class="warning">
      A story may sometimes be dark, it may leave a chill upon your soul, <br />
        but your soul and your Twitter will be yours again once the telling
        is done.
      </p>
    </div>
  </body>

  <script type="text/javascript">
    function lightning_on(duration, cb) {
      $('body').animate({'backgroundColor': '#EEE'}, duration, cb);
    }
    function lightning_off(duration, cb) {
      $('body').animate({'backgroundColor': '#111'}, duration, cb);
    }
    function lightning() {
      var fast_lightning_on = lightning_on.bind(null, 10);
      var fast_lightning_off = lightning_off.bind(null, 10);
      var slow_lightning_off = lightning_off.bind(null, 250);

      fast_lightning_on(fast_lightning_off(fast_lightning_on(slow_lightning_off)));
      setTimeout(lightning, (Math.random() * 10000) + 10000)
    }

    setTimeout(lightning, 10000);
  </script>
    <script src="static/clouds.js"></script>
</html>
